@(form: Form[Application.UserLogin])

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at( "stylesheets/bootstrap.min.css")' media="screen" />
		<script src='@routes.Assets.at( "javascripts/jquery-1.9.0.min.js")'></script>
		<script src='@routes.Assets.at( "javascripts/bootstrap.min.js")'></script>
		<title>Log In</title>
		<meta http-equiv="Content-Type" value="text/html; charset=utf-8;" />
	</head>
	<body>
		<div class="container">
			@if( form.hasGlobalErrors) {
				<div class="panel panel-danger" style="width: 400px; margin: auto; margin-top: 200px;">
				<div class="panel-heading"><span class="glyphicon glyphicon-log-in"></span>&nbsp;@form.globalError.message</div>
			}
			@if( !( form.hasGlobalErrors) ) {
				<div class="panel panel-primary" style="width: 400px; margin: auto; margin-top: 200px;">
				<div class="panel-heading"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Log In</div>
			}
				<div class="panel-body">
					@helper.form( routes.Application.authenticate) {
						<form>
							<input type="text" name ="nick" class="form-control" placeholder="nick_name" /><br />
							<input type="password" name="pwd" class="form-control" placeholder="Password" /><br />
							<button type="submit" class="btn btn-primary btn-lg btn-block">Log In</button>
							<a class="btn btn-link" href="register">Register</a>
						</form>
					}
				</div>
			</div>
		</div>
	</body>
</html>
